*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/free-impl/build/
/core/build/
/captures
.externalNativeBuild
.cxx
local.properties
key.properties
robin_dev.jks
build.sh
play_store_sign.keystore
app/release/app-release.aab
.java-version
.kotlin/errors
.kotlin/sessions
Flip_2_DND-12.2.0.apk
